<%- include('../partials/header'); -%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<link rel="stylesheet" href="/css/auth.css">
<title>Forget Password -Dramalite</title>
<div class="err-msg">
	<div class="msg "></div>
</div>
<div class="signup-form">

    <!-- <div class="blue-header"><h1>Sign Up</h1></div> -->
    <form id="verify-form" action="/api/user/forget-password" method="post">
		<h2>Forget Password</h2>

		<hr>
        <div class="form-group">
            <br>
            <div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
				<input type="email" class="form-control" name="email" placeholder="Email" required="required">
			</div>

        </div>
        <button type="submit" class="btn btn-primary  dark-blue-background">Sent Link To Email</button>

    </form>


</div>

<script>
	    $(document).ready(function (){
        $('#verify-form').submit(function(event){
            event.preventDefault()
            var formData=$(this).serialize();
            $.ajax({
            	url:'/auth/forget-password',
               type:'POST',
               data:formData,
               success:function(data){
                 if(data.complete){
					$('.msg').addClass('success').text(data.msg);
                    //window.location.replace(`/login`)
					// localStorage.setItem(data)
                    //$.redirect('/token-verify', {'arg1': 'value1', 'arg2': 'value2'});
                    // console.log(data)
                 }else{
					$('.msg').addClass('error').text(data.msg);
					// setTimeout(function(){
					// 	$('.err-msg').removeClass('error','msg').text('')
					// },5000)
                 }

               }
            })
        })
    })
</script>

<%- include('../partials/footer'); -%>