<%- include('../partials/header'); -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Signup -Dramalite</title>
    <div class="err-msg">
        <div class="msg "></div>
    </div>
    <div class="signup-form">

        <form id="signup-form" action="/api/user/create" method="post">
            <h2>Sign Up</h2>
            <p>Please fill in this form to create an account!</p>
            <hr>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <input type="text" class="form-control" name="name" placeholder="Username" required="required" minlength="4" maxlength="90">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-paper-plane"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" name="email" placeholder="Email Address" minlength="4" maxlength="90"
                        required="required">
                </div>
                <p>Add Currect Email For Verification</p>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required" minlength="4" maxlength="90">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                            <i class="fa fa-check"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"
                        required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="/terms-conditions"
                        class="link">Terms of Use</a> &amp; <a href="/privacy-policy" class="link">Privacy Policy</a></label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg blue-backgroud">Sign Up</button>
        </form>
        <div class="text-center loginLink">Already have an account? <a href="/auth/login">Login here</a></div>
    </div>

    <script>
        $(document).ready(function () {
            $('#signup-form').submit(function (event) {
                event.preventDefault()
                var formData = $(this).serialize();
                $.ajax({
                    url: '/auth/create',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if (data.complete) {
                            console.log(data)
                            $('.msg').addClass('success').text(data.msg);
                            setTimeout(function(){
                            	window.location.replace(`/auth/verify-otp/${data.id}`)
                            },2000)
                        } else {
                            $('.msg').addClass('error').text(data.msg);

                        }
                    }
                })
            })
        })
    </script>

<%- include('../partials/footer'); -%>