<%- include('../partials/admin-header'); -%>
<title>Admin Home -Dramalite</title>
<div class="other-sec">
    <div class="left-blue-header">
        <h2>Admin page</h2>
    </div>

    <div class="movies-list-section">
        <div class="white-link"><a href="/movie/add-movie" class="dflexx"  > <i class="fas fa-chevron-circle-right"></i>Add Movie</a></div>
        <div class="white-link"><a href="/movie/show-all-movies" class="dflexx" title="Best Tamil Movies Categorized List"> <i class="fas fa-chevron-circle-right"></i>Show all movies</a></div>
        <div class="white-link"><a href="/celebs/add-celebrity" class="dflexx" title="Best Hindi Movies Categorized List"> <i class="fas fa-chevron-circle-right"></i>Add Celebrity</a></div>
        <div class="white-link"><a href="/celebs/show-all-celebrity" class="dflexx" title="Best Telugu Movies Categorized List"> <i class="fas fa-chevron-circle-right"></i>Show all Celebrity</a></div>
        <div class="white-link"><a href="/user/show-all-users" class="dflexx" title="Best Hollywood Movies Categorized List"> <i class="fas fa-chevron-circle-right"></i>Show all users</a></div>
      </div>
</div>
<%- include('../partials/footer'); -%>