<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
<script src="/js/custom.js"></script>

<div class="end-container">
    <div class="connect-social">
      <div class="connect-text">
        <p>Connect us :</p>
      </div>
      <a href="https://www.instagram.com/dramalitecom" class="connect-icons"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://t.me/dramalitecom" class="connect-icons telegram"><i class="fa-brands fa-telegram"></i></a>
      
    </div>
    <div class="footer-privacy">
      <a href="/privacy-policy">Privacy Policy</a> | 
      <a href="/terms-conditions">Terms & Conditions</a> |
      <a href="/contact">Contact us</a>
    </div>

    <div class="end-copyright">
      <i class="fa fa-copyright" aria-hidden="true"> </i>2021 Dramalite.om</div>
      

  
  </div>