.movie-main {
    width: 360px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .125);

}

.fst-sec {
    padding: 10px;
}

.movie-poster {
    width: 100%;
}

.movie-poster img {
    width: 100%;
    object-fit: cover;
}

/* .button-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section a {
    text-decoration: none;
}

.blue-out-line-button {
    width: 30%;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.blue-out-line-button:hover {
    background-color: 007bff;
}

.blue-button {
    width: 30%;
    color: #fff;
    background-color: #007bff;
    background-image: none;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
} */
.list-link::-webkit-scrollbar {
    display: none;
}

.list-link {
    display: flex;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: scroll;
    /* background-color: #efefef; */
    height: 30px;
    /* border-color: #007bff; */
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.list-link a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
}

.list-a {
    margin: 5px;
    width: 27%;
    height: 7px;
    border: 1px solid #007bff;
    background-color: #4fa0f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.rate-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}

.rate-number {
    width: 26%;
}

.rate-dettails {
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bffd9;
    width: 80px;
    height: 80px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
    border-radius: 7px;
}

.number h4 {
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}

.rate-d {
    display: flex;
    align-items: center;

}

.rate-d p {
    font-size: 15px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.rate-d a {
    font-size: 15px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.rate-d span {
    font-weight: 700;
    font-size: 16px;
}

.story-sec p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.movie-dettails {
    display: flex;
    width: 100%;
    height: 35px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.dettails-name {
    width: 30%;
}

.dettails {
    width: 70%;
}

.dettails-name h4 {
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.dettails p {
    font-size: 15px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    --mdb-text-opacity: 1;
    color: #757575 !important;
    font-weight: 400;
}
.dettails a{
    font-size: 15px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    --mdb-text-opacity: 1;
    color: #4e99df !important;
    font-weight: 400;
}
.dettails-tag {
    width: 70%;
    display: flex;
}
.dettails-tag a{
    margin-right: 4px;
    font-size: 15px;
    font-weight: 400;
    color: #0050a78a;
    font-family: 'Poppins', sans-serif;
}

.swiper{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.swiper::-webkit-scrollbar{
    display: none;
}
.actorswp{
    border: 1px solid rgba(0,0,0,.14);
    width: 95px;
    height: 150px;
    overflow: hidden;
    margin-right: 5px;
    
}
.actorswp img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.actorswp a{
    text-decoration: none;
}
.actorswp h6{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #211818;
    font-weight: 900;
    text-align: center;
    
}
.actorswp p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    color: rgb(0 0 0 / 73%);
    font-family: sans-serif;
}
.actor-swp{
    display: flex;
    padding: 5px;
}

/*REVIEW SECTION*/
.review-section {
    display: flex;
    flex-direction: column;
}

.review {
    display: flex;
    flex-direction: column;
}

.user-dettails {
    display: flex;
    align-items: center;
    height: 70px;
    border: 1px solid hsla(210, 8%, 51%, .13);
    padding: 10px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.user-pic {
    flex: 1;
    height: 70px;
    width: 70px;
}

.user-pic img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 500px;
}

.user-name {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.user-name a {

    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: blue;
    font-weight: 900;
}
.user-name p span{
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #211818;
    font-weight: 900;
}
.user-name p {
    font-size: 10px;
    margin: 5px 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #211818;
    font-weight: 400;
}
.user-like {
    display: flex;
    align-items: center;
}

.like {
    margin-right: 7px;
    display: flex;
    align-items: center;
}
.dislike{
    display: flex;
    align-items: center;
    
}
.like span{
    font-size: 14px;
    margin: 0 4px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #211818;
    font-weight: 500;
}
.dislike span{
    margin-left: 4px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #211818;
    font-weight: 500;
}
.dislike form button {
    margin-right: 4px;
}
.review-dettails{
    display: flex;
    height: auto;
    padding: 10px;
}
.review-text h3{
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #211818;
}
.review-text p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: #211818;
    line-height: 1.3rem;
    letter-spacing: 0.3px;
}
.review-rating{
    width: 65px;
    height: 75px;
    flex: 1.5;
    border: 1px solid rgba(0, 0, 0, .125);
}
.rating-head{
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    height: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e9f4fb;
    padding: 4px;
   
}
.rating-head h4{
    font-size: 12px;
    font-weight: 600;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: #211818;
    line-height: 1.3rem;
    letter-spacing: 0.3px;
}

.rating-head p{
    font-size: 12px;
    font-weight: 600;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: #211818;
    line-height: 1.3rem;
    letter-spacing: 0.3px;
}
.rating-body{
    padding: 5px 10px;
}
.review-rating-body{
    display: flex;
    justify-content: space-between;
}
.review-rating-body h4{
    font-size: 12px;
    font-weight: 500;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: #211818;
    letter-spacing: 0.3px;
}
.review-rating-body p{
    font-size: 12px;
    font-weight: 500;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: #211818;
    letter-spacing: 0.3px;
}
.reivew-all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-top: 1px solid hsla(210, 8%, 51%, .13);
}
.reivew-all a{
    font-size: 15px;
    font-family: lato,Helvetica,Arial,sans-serif;
    color: blue;
}
.other-sec {
    border: 1px solid rgba(0, 0, 0, .125);
    width: 360px;
    margin: 10px auto;
}
.err-msg {
	position: fixed;
	top: 55px;
	width: 100%;
}
.other-sec {
    border: 1px solid rgba(0, 0, 0, .125);
    width: 360px;
    margin: 10px auto;
}
/*MOVIE RATING FORM*/
.rate-form {

    margin-bottom: 5px;
    width: 100%;
}

.rate-form form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rate-form form button {
    margin: 5px;
    width: 50px;
    height: 21px;
    border: 1px solid #007bff;
    background-color: #4fa0f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
}


.range-input-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#movie-rating-value {
    margin: 0px 9px;
}
.other-sec h7{
    font-size: 16px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}
.movie-trailer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whereToWatch{
    width: 100%;
    padding: 10px;
}
.where-img{
    width: 100%;
}
.whereToWatch a{
    display: flex;
align-items: end;
font-size: 16px;
font-weight: 500;
font-family:'Poppins', sans-serif; 
}
.whereToWatch a img{
    width: 75px;
    height: auto;
}
.form-control-rate{
    display: block;
    width: 55%;
    height: 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

@media(min-width: 767px) {
    .other-sec{
      width: 650px;
    }

    .movie-main {
        width: 650px;
    }
    .user-dettails{
        height: 135px;

    }
    .user-pic img{
        height: 100px;
        width: 100px;
    }
    .rate-form form button{
        width: 75px;
        height: 40px;
        font-size: 17px;
    }
    #movie-rating-value{
        font-size: 18px;

    }
    .rate-number{
        display: flex;
        justify-content: center;
    }
    .actorswp {
        width: 115px;
        height: 210px;
    }
    .actorswp img{
        height: 150px;
    }
    .image{
       max-height: none;
    }
    .image a img{
        max-height: none;
    }
  }
