*{
    margin: 0;
    scroll-behavior: smooth;
   
}
a{
   text-decoration: none
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap');

/* .nav-bar{
font-family: 'Poppins', sans-serif;
font-family: 'Varela Round', sans-serif;
    width: 100%;
    height: 100 px;
    background-color: red;
    box-shadow:rgb(0 0 0 / 16%) 0 0 6px;
    display: flex;
    justify-content: space-between;
}
.nav-bar .box p{
    margin: 0;
} */
.web-nav-bar{
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow:rgb(0 0 0 / 16%) 0 0 6px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999999;
    background-color: white;
}

.web-nav-bar .logo{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none; 
}
.web-nav-bar .logo img{
    height: 38px;
    object-fit: cover;
 }
 .web-nav-bar .logo h2{
    color: #222;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px;
    margin: 6px 2px 0px 4px;
 }

 .web-nav-bar .logo span{
    color: #222;
    font-weight: bold;
    margin: 7px 0px 0px 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
 }
 .web-nav-bar .signup a {
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
 }
 .web-nav-bar .signup {
    display: flex;
    margin-top: 6px;
 }
 .web-nav-bar .signup a:nth-child(2){
    margin-left: 10px;
 }
 .blue-header{
    width: 100%;
    height: 35px;
    background-color: #4fa0f7;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .blue-header h1{
    font-size: 18px;
    color: #fff;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
 }
 .dark-blue-background{
    background-color: #3797ff;
    height: 40px;
 }
 /*POPU MSG*/

/* (A) THE BASE */
.msg {
   padding: 5px;
   margin: 5px;
   color: #333;
   background: #fafafa;
   border: 1px solid #ccc;
   height: auto;
   font-size: 14px;
   display: flex;
   font-family:'Poppins', sans-serif; 
   justify-content: center;
   align-items: center;
   display: none;
 }
 
 /* (B) THE VARIATIONS */
 .info {
   color: #204a8e;
   background: #c9ddff;
   border: 1px solid #4c699b;
 }

 .warn {
   color: #756e15;
   background: #fffbd1;
   border: 1px solid #87803e;
 }

 .error {
   color: #ba3939;
   background: #ffe0e0;
   border: 1px solid #a33a3a;
   height: auto;
   font-size: 14px;
   display: flex;
   font-family:'Poppins', sans-serif; ;
   justify-content: center;
   align-items: center;
 }
 .success {
	color: #2b7515;
   background: #ecffd6;
   border: 1px solid #617c42;
   height: auto;
   font-size: 14px;
   display: flex;
   font-family:'Poppins', sans-serif; 
   justify-content: center;
   align-items: center;
 }

 /*PROFILE SLIDE*/
 .action {
   position: fixed;
   right: 20px;
   top: 10px;
 }
 
 .action .profile {
   position: relative;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
 }
 .action .profile img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 .action .menu {
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 5px;
  background: #fff;
  width: 160px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
 }
 
 .action .menu.active {
   top: 47px;
   visibility: visible;
   opacity: 1;
 }
 
 .action .menu::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
 }
 
 .action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 4px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
 }
 
 .action .menu h3 span {
   font-size: 14px;
   color: #cecece;
   font-weight: 300;
 }
 
 .action .menu ul li {
   list-style: none;
   padding: 10px 0;
   border-top: 1px solid rgba(0, 0, 0, 0.05);
   display: flex;
   align-items: center;
 }
 
 .action .menu ul li i {
   max-width: 20px;
   margin-right: 10px;
   opacity: 0.5;
   transition: 0.5s;
 }
 
 .action .menu ul li:hover i {
   opacity: 1;
 }
 
 .action .menu ul li a {
   display: inline-block;
   text-decoration: none;
   color: #555;
   font-weight: 500;
   transition: 0.5s;
   font-size: 14px;
 }
 
 .action .menu ul li:hover a {
   color: #6b5dff;
 }
 
.left-blue-header{
  background-color: #4fa0f7;
  height: 30px;
  width: 100%;
display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-blue-header h2{
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}
.left-blue-header a{
  margin-right: 5px;
  text-decoration: none;
  color: #0050a7;
}
.img-sec{
  border: 1px solid rgba(0, 0, 0, .125);
  width: 360px;
  margin: 10px auto;
}

.images{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
}
.image{
  margin: 5px;
  width: 30%;
  max-height: 160px;
}
.image a img{
  width: 100%;
  object-fit: cover;
  max-height: 155px;
}
hr{
  margin: 0.4rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}
.swiper{
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.swiper::-webkit-scrollbar{
  display: none;
}
.movie-swape{
  display: flex;
  padding: 5px;
}
.movies{
  width: 100px;
  height: 175px;
  margin: 0 5px;
  border: 1px solid rgba(0,0,0,.14);
}
.movies a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movie-s{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-s img{
  width: 100%;
  object-fit: cover;
  height: 130px;
}

.movie-s h2{
  font-family:'Poppins', sans-serif; 
  margin: 2px 0;
  font-size: 11px;
  text-align: center;
  color: black;
}
.movie-s p{
  font-family:'Poppins', sans-serif; 
  margin: 0;
  font-size: 9px;
  color: black;
}
.other-sec {
  border: 1px solid rgba(0, 0, 0, .125);
  width: 360px;
  margin: 10px auto;
}
  /*Movis Categories Swiper */
  .nav-bar-sticky{
    position: relative;
    margin: 10px 0;
   
  }
  .nav-bar-sticky ul{
   display: flex;
   list-style: none;
   margin-left: -35px;
  }
 
  .nav-bar-sticky ul li a{
    text-decoration: none;
    color: black;
  }
  .nav-swiper{
   display: flex;
   overflow-x: scroll;
   overflow-y: hidden;
  }
  .nav-bar-sticky span{
   background-color: #a6d0fd;
   margin-right: 3px;
   padding: 2px 6px;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 700;
   display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-swiper li{
   background-color: #cde5ff;
   margin-right: 5px;
   padding: 3px 8px;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 500;
   border-radius: 5px;
  }
  
  
  .nav-swiper::-webkit-scrollbar{
    display: none;
  }

  .white-link{
    height: 30px;
    width: 100%;
    border-bottom:1px solid rgba(0,0,0,.14); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.dflexx{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;   
    margin-left: 4px; 
}
.dflexx i{
    color: #3797ff;
    font-size: larger;
    margin-right: 4px;
}
.search-btn{
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: #1f86e6;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 5px;
}
.form-control{
  display: block;
  width: 70%;
  height: 20px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-sec{
  width: 360px;
  margin: 10px auto;
}
.search-bar form{
  display: flex;
  justify-content: center;
  align-items: center;
}

  /*End Section nd Share*/
  .end-container{
    width: 95%;
    padding: 10px;

    box-shadow:rgb(0 0 0 / 16%) 0 0 6px;
    justify-content: space-around;
    align-items: center;

    background-color: white;
   }
   .connect-social{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .connect-icons i{
    font-size: 19px;
    color: rgb(252, 54, 19);
    margin-right: 8px;
   }
   .connect-text p{
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-right: 3px;
   }
   .end-copyright{
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
   }

   .share-link h5{
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 1px;
}
.share-link{
    display: flex;
}
.share-telegram{
    font-size: 20px;
    margin: 1px 7px;
    color: #0088cc;
}
.share-whatsapp{
    font-size: 20px;
    margin: 1px 0px;
    color: #27ba2d;  
}
.share-link h6{
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 1px;
}
.share-link h5{
    font-weight: bolder;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 1px;
}
.share-link{
    display: flex;
}
.share-link a{
    text-decoration: none;
}
.share-telegram{
    font-size: 20px;
    margin: 1px 7px;
    color: #0088cc;
}
.share-whatsapp{
    font-size: 20px;
    margin: 1px 0px;
    color: #27ba2d;  
}
.connect-with-text{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 4px 5px;
   
}
.connect-with{
    display: flex;
    align-items: center;
}
.connect-with1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect-instagram{
    font-size: 24px;
    color: #cd486b;
    margin-left: 5px;
}
.connect-telegram{
    font-size: 24px;
    color: #0088cc;
    margin-left: 5px;
}



.footer-privacy{
    display: flex;
    justify-content: center;

    margin-top: 7px;
}
.footer-privacy a{
  
  font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.telegram{
  color: #0050a7;
}
  @media(min-width: 767px) {
    .img-sec{
      width: 650px;
    }
    .other-sec{
        width: 650px;
      }
    .actor-main {
        width: 650px;
    }
    .part-two{
        justify-content: start;
    }

  }